Add User to groups: dialout, users
--------------------------------------------
usermod -aG dialout aaa


/usr/share/X11/xorg.conf.d/40-libinput.conf
-------------------------------------------
option "TransformationMatrix" "0 -1 1 1 0 0 0 0 1"

90° = Option "TransformationMatrix" "0 -1 1 1 0 0 0 0 1"
180° = Option "TransformationMatrix" "-1 0 1 0 -1 1 0 0 1"
270° = Option "TransformationMatrix" "0 1 0 -1 0 1 0 0 1"


.kivy/config.ini
----------------
hid_%(name)s = probesysfs, provider=hidinput,param=rotation=90,param=invert_x=1


/boot/config.txt
----------------
max_usb_current=1
display_rotate=1
dtoverlay=pi3-disable-bt


/boot/cmdline.txt
-----------------
add logo.nologo to the end of line.


python3
-------

if (python --version < 3):
    sudo su
    update-alternatives --install /usr/bin/python python /usr/bin/python3 1
    exit

if (python --version => 3)
    sudo apt install python3-pip
    sudo apt install python3-numpy
    pip3 install pyserial
    pip3 install python-osc


