[Unit]
Description=Mixer Controller mic.py
After=network.target

[Service]
Environment="PATH=/home/aaa/.local/bin:$PATH"
ExecStart=/home/aaa/.a3python_env/bin/python /home/aaa/Ambijockey/Controller_Mixer/software/python/mic.py

[Install]
WantedBy=multi-user.target
