Add User to following groups: dialout, users
--------------------------------------------
usermod -aG dialout aaa


/usr/share/X11/xorg.conf.d/40-libinput.conf
-------------------------------------------
option "TransformationMatrix" "0 -1 1 1 0 0 0 0 1"

90° = Option "TransformationMatrix" "0 -1 1 1 0 0 0 0 1"
180° = Option "TransformationMatrix" "-1 0 1 0 -1 1 0 0 1"
270° = Option "TransformationMatrix" "0 1 0 -1 0 1 0 0 1"


.kivy/config.ini
----------------
hid_%(name)s = probesysfs, provider=hidinput,param=rotation=90,param=invert_x=1

/boot/config.txt
----------------
max_usb_current=1
display_rotate=1
dtoverlay=pi3-disable-bt

/boot/cmdline.txt
-----------------
add logo.nologo to the end of line.

python
------

Check python version – python --version

First, make sure that your python version is not python3:
python --version
Now with your root privileges open superuser prompt:
sudo su
Now update the alternative to version 3 of python
update-alternatives --install /usr/bin/python python /usr/bin/python3 1
Exit the root prompt
Finally, check your python version

sudo apt install python3-pip
pip3 install pyserial
pip3 install python-osc
pip3 install kivy
sudo apt install python3-numpy

fix for raspi random hold
-------------------------
append following two lines to /etc/sysctl.conf

vm.dirty_background_ratio = 5
vm.dirty_ratio = 10

