# © Copyright 2021 A³ Ambisonic Audio Adventures UG (Haftungsbeschränkt). 
# This file is a part of A³Pandemic. License is GPLv3: https://github.com/ambisonics-audio-association/Ambijockey/blob/main/COPYING

[Unit]
Description=Mixer Controller mic.py

After=network.target

[Service]
User=aaa
ExecStart=/usr/bin/python /home/aaa/Ambijockey/Controller_Mixer/software/python/mic.py &
[Install]
WantedBy=multi-user-target
