**/lib
**/env
**/.DS_Store
**/.vscode
/a3motion/software/teensy/include
/a3motion/software/teensy/lib
/a3motion/software/teensy/test
/a3motion/software/teensy/.pio

/a3mix/teensy/mic/include
/a3mix/teensy/mic/lib
/a3mix/teensy/mic/test
/a3mix/teensy/mic/.pio/build
/a3core/reaper/a3_reaper.RPP-bak
a3mix/python/.mic.py.swp
**/__pycache__
