# A³ Core is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# A³ Core is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with A³ Core.  If not, see <https://www.gnu.org/licenses/>.

# © Copyright 202-2022 Raphael Eismann

[Unit]                                                                          
Description=a3core execute osc-router
After=jack.service

[Service]
Type=idle
PrivateTmp=true
#ExecStartPre=/bin/sleep 2
#WorkingDirectory=
#Environment="QT_QPA_PLATFORM=minimal"
#Environment=QT_QPA_PLATFORM=offscreen
ExecStart=/usr/bin/python3 /home/aaa/a3-system/a3core/a3_interface.py
#LimitRTPRIO=70

[Install]
#WantedBy=default.target
WantedBy=default.target
