[Unit]                                                                                     
Description=a3core execute osc-router
After=jack.service

[Service]
Type=idle
PrivateTmp=true
#ExecStartPre=/bin/sleep 2
#WorkingDirectory=
#Environment="QT_QPA_PLATFORM=minimal"
#Environment=QT_QPA_PLATFORM=offscreen
ExecStart=/usr/bin/python /home/aaa/a3-system/a3core/a3_osc_router.py
LimitRTPRIO=70

[Install]
#WantedBy=default.target
WantedBy=default.target
