[Unit]
Description=Pulseaudio jack sink
After=jack@* pulseaudio

[Service]
Type=idle
PrivateTmp=true
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/pacmd load-module module-jack-sink channels=2 sink_name=Pulse-out client_name=Pulse-out connect=false

[Install]
WantedBy=default.target
