[Unit]                                                                                     
Description=a3core execute reaper
After=jack.service

[Service]
#Type=idle
PrivateTmp=true
ExecStartPre=/bin/sleep 2
#WorkingDirectory=
#Environment="QT_QPA_PLATFORM=minimal"
#Environment=QT_QPA_PLATFORM=offscreen
Environment=DISPLAY:0
ExecStart=/usr/local/bin/reaper
LimitRTPRIO=90

[Install]
#WantedBy=default.target
WantedBy=default.target
