# A³ Core is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# A³ Core is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with A³ Core.  If not, see <https://www.gnu.org/licenses/>.

# © Copyright 2021 Raphael Eismann

[Unit]                                                                                     
Description=a3core execute supercollider
After=jack.service

[Service]
Type=idle
PrivateTmp=true
#ExecStartPre=/bin/sleep 2
WorkingDirectory=/home/aaa/Ambijockey/Server/supercollider
#Environment="QT_QPA_PLATFORM=minimal"
Environment=QT_QPA_PLATFORM=offscreen
ExecStart=/usr/bin/sclang /home/aaa/a3-system/a3core/supercollider/a3_vu_meter.scd
LimitRTPRIO=85

[Install]
#WantedBy=default.target
WantedBy=default.target
