[Unit]                                                                                     
Description=a3core execute supercollider
After=jack.service

[Service]
Type=idle
PrivateTmp=true
#ExecStartPre=/bin/sleep 2
WorkingDirectory=/home/aaa/Ambijockey/Server/supercollider
#Environment="QT_QPA_PLATFORM=minimal"
Environment=QT_QPA_PLATFORM=offscreen
ExecStart=/usr/bin/sclang /home/aaa/a3-system/a3core/supercollider/a3_vu_meter.scd
LimitRTPRIO=85

[Install]
#WantedBy=default.target
WantedBy=default.target
