[Unit]
Description=VNC Server for X11
Requires=display-manager.service
After=syslog.target network-online.target ##optional for better performance
Wants=syslog.target network-online.target ##optional for better performance

[Service]
#ExecStart=/usr/bin/x11vnc -display :0 -rfbauth /home/aaa/.vnc/passwd -shared -forever -o /var/log/x11vnc.log
#ExecStart=/usr/bin/x11vnc -display :0 -geometry 1910x1032 -forever -usepw -rfbauth /home/aaa/.vnc/passwd
ExecStart=/usr/bin/x11vnc -display :0 -geometry 1910x1032 -forever -loop -noxdamage -repeat -rfbauth /home/aaa/.vnc/passwd -rfbport 5900 -shared
#ExecStart=/usr/bin/x11vnc -auth guess -geometry 1910x1032 -forever -loop -noxdamage -repeat -rfbauth /home/aaa/.vnc/passwd -rfbport 5900 -shared
ExecStop=/usr/bin/x11vnc -R stop
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
