# © Copyright 2021 A³ Ambisonic Audio Adventures UG (Haftungsbeschränkt). 
# This file is a part of A³Pandemic. License is GPLv3: https://github.com/ambisonics-audio-association/Ambijockey/blob/main/COPYING

[Match]
Name=enp1s0

[Network]
Address=192.168.43.52/24
Gateway=192.168.43.1
DNS=192.168.43.1
DNS=8.8.8.8
