© Copyright 2021 A³ Ambisonic Audio Adventures UG (Haftungsbeschränkt). 
This file is a part of A³Pandemic. License is GPLv3: https://github.com/ambisonics-audio-association/Ambijockey/blob/main/COPYING

[Unit]
Description=AAA-Server Service

[Service]
RemainAfterExit=yes
ExecStart=/home/aaa/ambijockey/Server/startup.sh

[Install]
WantedBy=multi-user.target
