[Unit]
Description=AAA-Server Service
After=multi-user.target

[Service]
Type=simple
User=aaa
RemainAfterExit=yes
ExecStart=/home/aaa/ambijockey/Server/startup.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target