# A³ Core is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# A³ Core is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with A³ Core.  If not, see <https://www.gnu.org/licenses/>.

# © Copyright 2021 Raphael Eismann

[Unit]
Description=A³ Core - Xinit
After=multi-user.target
DefaultDependencies=no

[Service]
User=aaa
Group=aaa
Environment=LANG=en_US.UTF-8
Environment=USER=aaa
Environment=LOGNAME=aaa
Environment=HOME=/home/aaa
Environment=PWD=/home/aaa
Environment=SHELL=/bin/bash
Environment=TERM=xterm-color
Environment=JACK_DEFAULT_SERVER=default
Environment=XAUTHORITY=/home/aaa/.Xauthority

#Environment=XTERM_VERSION=XTerm(368)
#Environment=XTERM_SHELL=/bin/bash
#Environment=XTERM_LOCALE=en_US.UTF-8
#Environment=GTK_MODULES=canberra-gtk-module
Environment=XDG_SESSION_CLASS=user
Environment=XDG_SESSION_ID=1
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=XDG_SESSION_TYPE=tty
Environment=DISPLAY=:0
#Environment=WINDOWPATH=1
#Environment=OBTERM=xterm
Environment=MOTD_SHOWN=pam
Environment=SHLVL=3
#Environment=QT_QPA_PLATFORM=offscreen
Environment=CASROOT=/usr
Environment=MMGT_CLEAR=1
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/lib/jvm/default/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl:/opt/REAPER
Environment=LADSPA_RDF_PATH=/usr/share/ladspa/rdf
Environment=LADSPA_PATH=/usr/lib/ladspa

#Environment=HG=/usr/bin/hg
#Environment=MAIL=/var/spool/mail/aaa
Environment=DRAWHOME=/usr/share/opencascade/resources/DrawResources
Environment=DRAWDEFAULT=/usr/share/opencascade/resources/DrawResources/DrawDefault

ExecStart=/usr/bin/startx 
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
