# © Copyright 2021 A³ Ambisonic Audio Adventures UG (Haftungsbeschränkt). 
# This file is a part of A³Pandemic. License is GPLv3: https://github.com/ambisonics-audio-association/Ambijockey/blob/main/COPYING

[Unit]
Description=a3core execute xinit
After=multi-user.target
DefaultDependencies=no

[Service]
User=aaa
Group=aaa
Environment=LANG=en_US.UTF-8
Environment=USER=aaa
Environment=LOGNAME=aaa
Environment=HOME=/home/aaa
Environment=PWD=/home/aaa
Environment=SHELL=/bin/bash
Environment=TERM=xterm-color
Environment=JACK_DEFAULT_SERVER=aaa
Environment=XAUTHORITY=/home/aaa/.Xauthority

#Environment=XTERM_VERSION=XTerm(368)
#Environment=XTERM_SHELL=/bin/bash
#Environment=XTERM_LOCALE=en_US.UTF-8
#Environment=GTK_MODULES=canberra-gtk-module
Environment=XDG_SESSION_CLASS=user
Environment=XDG_SESSION_ID=6
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=XDG_SESSION_TYPE=tty
Environment=DISPLAY=:0
#Environment=WINDOWPATH=1
#Environment=OBTERM=xterm
Environment=MOTD_SHOWN=pam
Environment=SHLVL=1
#Environment=QT_QPA_PLATFORM=offscreen
Environment=CASROOT=/usr
Environment=MMGT_CLEAR=1
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/lib/jvm/default/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl
Environment=LADSPA_RDF_PATH=/usr/share/ladspa/rdf
Environment=LADSPA_PATH=/usr/lib/ladspa

ExecStart=/usr/bin/startx 
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
