# © Copyright 2021 A³ Ambisonic Audio Adventures UG (Haftungsbeschränkt). 
# This file is a part of A³Pandemic. License is GPLv3: https://github.com/ambisonics-audio-association/Ambijockey/blob/main/COPYING

[Unit]
Description=Motion Controller UI
After=multi-user.target
#After=mytty.service
DefaultDependencies=no

[Service]
User=aaa
#Group=tty
#Environment=LANG=C
Environment=USER=aaa
Environment=LOGNAME=aaa
Environment=HOME=/home/aaa
Environment=PWD=/home/aaa
#Environment=SHELL=/bin/bash
#Environment=TERM=xterm-color

Environment=XDG_SESSION_CLASS=user
Environment=XDG_SESSION_TYPE=tty
Environment=XDG_SESSION_ID=3
Environment=XDG_RUNTIME_DIR=/run/user/1001
Environment=DISPLAY=:0
Environment=WorkingDirectory=/home/aaa/a3-system/a3motion/a3MotioncontrollerUI
Environment=XAUTHORITY=/home/aaa/.Xauthority

Environment=MOTD_SHOWN=pam
#Environment=SHLVL=1
Environment=XDG_VTNR=3

Environment=PATH=/home/aaa/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl:/opt/vc/bin
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1001/bus
Environment=MAIL=/var/spool/mail/aaa
Environment=_=/usr/bin/printenv

Environment=DRAWHOME=/usr/share/opencascade/resources/DrawResources
Environment=DRAWDEFAULT=/usr/share/opencascade/resources/DrawResources/DrawDefault

ExecStart=/usr/bin/startx -- -nocursor
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
